@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer components {
  .snap-x {
      scroll-snap-type: x mandatory;
  }
  
  .snap-start {
      scroll-snap-align: start;
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
      display: none;
  }
  
  .scrollbar-hidden {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }

  .snap-x {
      scroll-snap-type: x mandatory;
  }

  .snap-start {
      scroll-snap-align: start;
  }
}